<div class="video-container">
    <!-- <button (click)="startStream()">Start Video Stream</button>
    <br />
    <img *ngIf="imgSrc" [src]="imgSrc" alt="WebRTC Stream" style="max-width: 100%; margin-top: 10px;" /> -->
    <div class="video-layer">
        <img *ngIf="imgSrc" [src]="imgSrc" alt="WebRTC Stream" class="stream-image" />
    </div>
    <div class="ui-layer">
        <!-- <button (click)="startStream()">Start Video Stream</button> -->
    </div>
    <app-joystick-container class="joystick-overlay"></app-joystick-container>
</div>